body {
  font-family: Arial, sans-serif;
  background: #1e1e1e;
  color: white;
  text-align: center;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #2a2a2a;
}

th,
td {
  border: 1px solid #444;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #444;
}

a {
  color: #f39c12;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

button {
  background: #f39c12;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #e67e22;
}
